.banner-container {
  height: calc(100vh - 5rem);
  text-align: center;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.banner-text h1 {
  font-family: "Viga", sans-serif;
  font-size: clamp(4rem, 8vw, 6.5rem);
}
.banner-text h3 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}
.red {
  color: red;
}
.blue {
  color: blue;
}

@media screen and (max-width: 768px) {
  .banner-text {
    padding: 1rem 2rem;
    width: 100%;
  }
  .banner-text h1 {
    text-align: start;
  }
}
