.about-container {
  width: 100%;
  z-index: -1;
}
.section-header {
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #444;
  padding-top: 8rem;
}
.section-header::after {
  content: "";
  width: 5rem;
  height: 0.2rem;
  background-color: #555;
  margin-top: 1rem;
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.about-desc {
  display: flex;
  flex-direction: column;
  word-spacing: 0.1rem;
  font-weight: bold;
  flex: 2;
  padding: 1rem 1rem;
  font-size: 1rem;
}
.about-text {
  margin-bottom: 1rem;
}
.about-tech {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  gap: 0px 1rem;
  overflow: hidden;
}
.tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0.5rem 0;
}
.tech span {
  margin-left: 0.5rem;
}

.about-image {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 1rem;
  height: 60vh;
}

.about-image img {
  width: 90%;
  object-fit: cover;
}
.sticky + .about-container {
  padding-top: 5rem;
}

@media screen and (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }
  .section-header {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }
  .about-desc {
    font-size: 1rem;
  }
}
